<div class="commonHeight" ng-controller="aboutUsCtrl">
    <section>
        <h1 class="FclrBlk">Your Requirements. Your Business</h1>
        <p class="FclrBlk">Our Story begins over a few months ago, when our Circle began to think of coming up with our Inovative thoughts and measures
        to build a platform where a small Enterprise can even come up with e-Business.</p>
    </section>
    <section>
        <h3 class="FclrBlk">A New Thinking</h3>
        <p class="FclrBlk">First we started off with a Marriage Website, where we implemented a special type of coding and statistics to render the website at the lower speed of Data. From then our visions changed in making websites in a better and uniformed way.</p>
        <h3 class="FclrBlk">Our Future</h3>
        <p class="FclrBlk">At InfoGies we strive for your Satisfaction and Business. As the days are going by, as the technology is growing, we are all set for the future to take over the emerging market. Connecting with the Developers, Business Analytics, Designers, Social Media. Spreading our wings to grow your Business at the fullest.  </p>
        </section>
    <section class="marginB10">
        <h3 class="FclrBlk">Our Vission</h3>
        <p class="FclrBlk">Process Expertise to solve problems.</p>
        <p class="FclrBlk">Providing High Value Results.</p>
        <p class="FclrBlk">By Expanding your Business without Limits</p>
    </section>
</div>
