<div class="commonHeight container">
<h1 class="text-center FclrBlk"><b class="FclrBlk">BPO SERVICES</b></h1>
    <hr class="commonBroder">
     <section class="commonDiv bpoBox text-center heightAuto">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <p><i class="fa fa-heartbeat commonFontSizeS FclrBlk" aria-hidden="true"></i></p>
                    <p class="FclrBlk"><b class="FclrBlk">Medical Insurance Data Entry</b></p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <p><i class="fa fa-toggle-off commonFontSizeS FclrBlk" aria-hidden="true"></i></p>
                    <p class="FclrBlk"><b class="FclrBlk">Offline Data Entry</b></p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <p><i class="fa fa-sitemap commonFontSizeS FclrBlk" aria-hidden="true"></i></p>
                    <p class="FclrBlk"><b class="FclrBlk">Online Data Entry</b></p>
                </div>

    </section>
    <section class="commonDiv bpoBox text-center heightAuto">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                  <p><i class="fa fa-home commonFontSizeS FclrBlk" aria-hidden="true"></i></p>
                  <p class="FclrBlk"><b class="FclrBlk">Home Based Data Entry</b></p>
              </div>
               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                   <p><i class="fa fa-random commonFontSizeS FclrBlk" aria-hidden="true"></i></p>
                   <p class="FclrBlk"><b class="FclrBlk">Copy Paste Data Entry</b></p>
               </div>
               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                   <p><i class="fa fa-headphones commonFontSizeS FclrBlk" aria-hidden="true"></i></p>
                   <p class="FclrBlk"><b class="FclrBlk">Tech Support</b></p>
               </div>
   </section>
   <section class="commonDiv bpoBox text-center heightAuto">
             <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                 <p><i class="fa fa-picture-o commonFontSizeS FclrBlk" aria-hidden="true"></i></p>
                 <p class="FclrBlk"><b class="FclrBlk">Image Data Entry</b></p>
             </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                  <p><i class="fa fa-files-o commonFontSizeS FclrBlk" aria-hidden="true"></i></p>
                  <p class="FclrBlk"><b class="FclrBlk">Document Data Entry</b></p>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                  <p><i class="fa fa-file commonFontSizeS FclrBlk" aria-hidden="true"></i></p>
                  <p class="FclrBlk"><b class="FclrBlk">Scanning Services</b></p>
              </div>
  </section>
</div>
