<div class="commonHeight">
<ul class="ch-grid contactContainer" ng-controller="contactController">
	<li>
		<div class="ch-item ch-img-1">
			<div class="ch-info">
				<h3>Deven</h3>
				<p class="hidden-xs hidden-sm hidden-md">XYZ<a title="InfoGies" href="">View on Facebook</a></p>
			</div>
		</div>
	</li>
	<li>
		<div class="ch-item ch-img-2">
			<div class="ch-info">
				<h3>Lohith</h3>
				<p class="hidden-xs hidden-sm hidden-md">ABC<a title="InfoGies" href="">View on Facebook</a></p>
			</div>
		</div>
	</li>
	<li>
		<div class="ch-item ch-img-3">
			<div class="ch-info">
				<h3>Vinod</h3>
				<p class="hidden-xs hidden-sm hidden-md">KIL<a title="InfoGies" href="">View on Facebook</a></p>
			</div>
		</div>
	</li>
</ul>
</div>