<div class="contactContainer commonHeight container-fluid" ng-controller="contactController">
 

      <h1 class="text-center FclrBlk"><b class="FclrBlk">GET IN TOUCH</b></h1>
      <hr class="commonBroder">
    <div class="emailBox text-center">
        <h1 class="text-center FclrBlk">Want to work with us? Email Us</h1>
        <a href="mailto:contact@infogies.com" class="box demo-1 textUpper fontlg16"><span><b class="FclrBlk">Email us</span></b> </a>
    </div>

    <div class="mapsContainer marginB10 heightAuto backBGG">
        <div class="container">
      
        <div class="col-lg-6 col-sm-12 col-xs-12 col-md-6">
            <h1 class="text-center fontCWhite">HEAD QUARTERS</h1>
            <p class="FclrS text-center fontlg20 ">
                #154, Royal Space
                3rd Floor, 5th Main
                HSR Layout, 7th Sector
                Bengaluru, 560102
            </p>
            <p class="fontCWhite text-center fontlg20 marginB10"><a class="fontCWhite" href="tel:+918970099777"><i class="fa fa-phone second" aria-hidden="true"></i> +918970099777</a></p>
            <p class="fontCWhite text-center fontlg20 marginB10"><a class="fontCWhite" href="mailto:contact@infogies.com"><i class="fa fa-envelope" aria-hidden="true"></i> contact@infogies.com</a></p>
        </div>
          <div id="map" class="col-lg-6 col-sm-12 col-xs-12 col-md-6 card2 "></div>
        </div>
    </div>
</div>
