<ul class="ch-grid" ng-controller="contactController">
	<li>
		<div class="ch-item ch-img-1">
			<div class="ch-info">
				<h3>Deven</h3>
				<p>XYZ<a href="">View on Facebook</a></p>
			</div>
		</div>
	</li>
	<li>
		<div class="ch-item ch-img-2">
			<div class="ch-info">
				<h3>Lohith</h3>
				<p>ABC<a href="">View on Facebook</a></p>
			</div>
		</div>
	</li>
	<li>
		<div class="ch-item ch-img-3">
			<div class="ch-info">
				<h3>Vinod</h3>
				<p>KIL<a href="">View on Facebook</a></p>
			</div>
		</div>
	</li>
</ul>