<div class="container-fluid">
  <my-car></my-car>
</div>
<div class="container">

<section class="WhatweDo text-center commonBorder heightAuto" ng-controller="homeController">
<h1 class="text-center FclrBlk"><span class="in-Blk FclrBlk">Our Moves</span></h1>
<h3 class="text-center FclrBlk">We are experts in building websites that will suit your needs.</h3>
    <section class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center bgCmColor card3 borderRad4 paddTB15 marginB10">
        <i class="fa fa-check fontlg50" aria-hidden="true"></i>
            <p class="marginTB fontlg16">Achieve The Right Targets</p>
    </section>
    <section class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center bgCmColor card3 borderRad4 paddTB15 marginB10">
        <i class="fa fa-certificate fontlg50" aria-hidden="true"></i>
            <p class="marginTB fontlg16">Customize Your Needs</p>
    </section>
    <section class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center bgCmColor card3 borderRad4 paddTB15 marginB10">
        <i class="fa fa-line-chart fontlg50" aria-hidden="true"></i>
            <p class="marginTB fontlg16">Improvise Your Business</p>
    </section>
</section>
<div class="clear-fix"></div>
<section class="VisionContainer text-center commonBorder">
   <h1 class="text-center FclrBlk"><span class="in-Blk FclrBlk">Our Vision</span></h1>
    <section class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center bgCmColor card3 borderRad4 paddTB15 marginB10">
        <i class="fa fa-cogs fontlg50" aria-hidden="true"></i>
            <p class="marginTB fontlg16">Process Expertise</p>
    </section>
    <section class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center bgCmColor card3 borderRad4 paddTB15 marginB10">
        <i class="fa fa-cubes fontlg50" aria-hidden="true"></i>
            <p class="marginTB fontlg16">High Value Solutions</p>
    </section>
    <section class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center bgCmColor card3 borderRad4 paddTB15 marginB10">
        <i class="fa fa-smile-o fontlg50" aria-hidden="true"></i>
            <p class="marginTB fontlg16">Satisfied Customers</p>
    </section>
</section>
<div class="clear-fix"></div>
<section class="MissionContainer text-center commonBorder heightAuto clearAll">
   <h1 class="text-center FclrBlk"><span class="in-Blk FclrBlk">Our Mission</span></h1>
    <section class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center bgCmColor card3 borderRad4 paddTB15 marginB10">
        <i class="fa fa-user-circle fontlg50" aria-hidden="true"></i>
            <p class="marginTB fontlg16">Equal Opportunity</p>
    </section>
    <section class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center bgCmColor card3 borderRad4 paddTB15 marginB10">
        <i class="fa fa-users fontlg50" aria-hidden="true"></i>
            <p class="marginTB fontlg16">Team Work, Team Building</p>
    </section>
    <section class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center bgCmColor card3 borderRad4 paddTB15 marginB10">
        <i class="fa fa-superpowers fontlg50" aria-hidden="true"></i>
            <p class="marginTB fontlg16">Serve with Integrity</p>
    </section>
</section>
</div>
