<div class="commonHeight container">
<h1 class="text-center FclrBlk"><b class="FclrBlk">WEB SERVICES</b></h1>
    <hr class="commonBroder">
    <section class="commonDiv text-center heightAuto">
        <div class="web col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <p class="commonFont"><i class="fa fa-desktop commonFontSize FclrBlk" aria-hidden="true"></i></p></a>

        </div>
         <div class="commonExp col-lg-9 col-md-9 col-sm-12 col-xs-12 text-left">
             <div>
                <h2 class="textUpper"><b class="FclrBlk">WEB DESIGN & Development</b></h2>
                <hr class="commonBroder margin0">
             </div>
             <p class="marginT15">
                 <b class="FclrS">We create websites developed with the latest technologies.
                     If you're looking for a beautiful, intuitive and functional website, then don't hesitate to
                     <a href="mailto:Contact@cygnisys.com">get in touch.</a>
                </b>
                <p>
                    <b class="FclrS">Our measures of operation is to take the right requirements and give the right Solutions.
                        First we start of with the client in getting the requirements because no one understands your Business better than you do.
                        First the gathering of the requirements then starts the Fun part.
                    </b>
                </p>
                <p>
                    <b class="FclrS">Our Team work hand in hand to deliver the right product to clients.
                        First we start off with the Designing Part. Our Experts in the house gets you the world class Designs.
                        Once the Designs are clear with Cients then comes the "Lion".
                    </b>
                </p>
                <p>
                    <b class="FclrS">Once the Designs are done Our developers in the house starts off
                         with the optimized way to keep the process short and Deliver you the  product in short-time.
                         Mean while you can peep in while the Development is going on so that you can get the progress.
                         We develop sites that not only fits your desktop, it also fits all the devices accross.
                    </b>
                </p>
                <p>
                    <b class="FclrS">Once the product is ready. Please hold on we are not going to give you untill the Testing team certifies it.
                        A rigorous testing of all the modules and functionality is done then the product is ready to rock your Business.
                    </b>
                </p>
             </p>
         </div>
    </section>

    <section class="commonDiv text-center heightAuto">
        <div class="web col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <p class="commonFont"><i class="fa fa-mobile commonFontSize FclrBlk" aria-hidden="true"></i></p></a>

        </div>
         <div class="commonExp col-lg-9 col-md-9 col-sm-12 col-xs-12 text-left">
             <div>
                <h2 class="textUpper"><b class="FclrBlk">APP DESIGN & Development</b></h2>
                <hr class="commonBroder margin0">
             </div>
             <p class="marginT15">
                 <b class="FclrS">As the Smartphones are getting popular everyone need their needs at the finger tips.
                     So here we are to give you that App which will fit in your pocket for your Business needs.
                </b>
                </p>
                <p>
                    <b class="FclrS">
                        Making Apps the way you want is our Style. Yes we develop Apps accross all popular platforms on Android, Windows and IOS.
                    </b>
                </p>
                <p>
                    <b class="FclrS">Outdated Apps? We also provide Services and support for your out-dated Apps.
                        We give you the Best in Class Desings and product. We develop apps that not only fits your phone, it also fits all the devices accross.
                    </b>
                </p>
                 <p>
                    <b class="FclrS">Have an Idea of App? Then you are at the right place to get your App the way you and your customers need it.
                    </b>
                </p>
         </div>
    </section>

     <section class="commonDiv text-center heightAuto">
        <div class="web col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <p class="commonFont"><i class="fa fa-wordpress commonFontSize FclrBlk" aria-hidden="true"></i></p></a>

        </div>
         <div class="commonExp col-lg-9 col-md-9 col-sm-12 col-xs-12 text-left">
             <div>
                <h2 class="textUpper"><b class="FclrBlk">WORDPRESS</b></h2>
                <hr class="commonBroder margin0">
             </div>
             <p class="marginT15">
                 <b class="FclrS">We have years of experience using Wordpress - we love it.
                     There's a reason Wordpress is currently the most popular Content Management System (CMS) on the web.
                     Wordpress enables all content on their site with limited or no technical knowledge,
                     making the site easily maintainable and offering your customers updates as and when you wish.
                     Partner that with a HUGE web community and regular updates, and you have yourself an incredibly powerful tool.
                </b>
                </p>
                <p>
                    <b class="FclrS">
                       Are you running out of time and still want a Website for your Business then give a ring to us.
                       We will provide you the business website at the earliest.
                       You can manage your own Business needs and update the as the Business gets going.
                       Added some stuffs in your Business, no need to get in touch with anyone.
                       We will provide all the access so that you can easily login and update the content and data in it.
                    </b>
                </p>
                <p>
                    <b class="FclrS">
                        Wordpress is the right platform to make your Business connnect the people else where.
                        It is that easy to bring your Business under the Lime light with Wordpress.
                    </b>
                </p>
         </div>
    </section>
</div>
