<div class="softwareContainer container commonHeight" ng-controller="softwareController">
    <div class="DesingD">
            <div class="design1 col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
            <section class="DetailsSection marginB10 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h1 class="text-center FclrBlk">MULTI-CHANNEL-APP</h1>
                <p class="text-center FclrBlk fontlg20">We develop App/Website which fits all the devices</p>
                <p class="text-center FclrBlk">When a developer creates a website, they often design for large screens and lose sight of how it will look when a user browses the same website from their mobile device. When users click links within the site via their mobile phones, reading and navigating become difficult, requiring zooming and resizing to read or click. This is when you need to think developing a device-specific site.</p>
    </section>
    </div>
    <div class="clearfix"></div>
    <div class="DesingD">
          <section class="DetailsSection marginB10 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h1 class="text-center FclrBlk">PROCESS CYCLE</h1>
                <p class="text-center FclrBlk fontlg20">To Deliver Good Product</p>
                <p class="text-center FclrBlk">The product life cycle describes the process for building information systems in a very deliberate, structured and methodical way, reiterating each stage of the product's life. .</p>
    </section>
            <div class="design2 col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
          
    </div>
</div>